{% include 'head/head.html' %}

<body>

<div class="wrapper" id="js-wrapper">

	{% include 'header/global/header.html' %}

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				{% include 'breadcrumbs/breadcrumbs.html' %}

				<div class="title">Навигация</div>

				<ul class="list" id="js-list">
					<li class="list__item">
						<a href="#" class="list__link">Пункт 1</a>
						<!-- /.list__link -->
					</li>
					<!-- /.list__item -->
					<li class="list__item">
						<a href="#" class="list__link">Пункт 2</a>
						<!-- /.list__link -->
					</li>
					<!-- /.list__item -->
					<li class="list__item">
						<a href="#" class="list__link">Пункт 3</a>
						<!-- /.list__link -->
					</li>
					<!-- /.list__item -->
					<li class="list__item">
						<a href="#" class="list__link">Пункт 4</a>
						<!-- /.list__link -->
					</li>
					<!-- /.list__item -->
					<li class="list__item">
						<a href="#" class="list__link">Пункт 5</a>
						<!-- /.list__link -->
					</li>
					<!-- /.list__item -->
				</ul>
				<!-- /.list -->


				<!-- /.icon icon_auth -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>